<div nz-row nzAlign="middle">
  <div nz-col [nzSpan]="4"></div>
  <div nz-col [nzSpan]="16">
    <br/>
    <div style="text-align: end">
      <button nz-button nzType="primary" nzSize="large" nzShape="round"
              style="background-color: orchid;">Add</button>
    </div>
    <br/>
    <nz-table [nzData]="fiscalPositions" [nzBordered]="true" [nzShowPagination]="false">
      <thead>
      <tr>
        <th>Year Of Balance</th>
        <th>Actual/Revised/Estimated</th>
        <th>Category</th>
        <th>Item</th>
        <th>Amount (S$ million)</th>
        <th>Percent of gdp</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let fiscalPosition of fiscalPositions">
        <td>{{fiscalPosition.yearOfBalance}}</td>
        <td>{{fiscalPosition.state}}</td>
        <td>{{fiscalPosition.category}}</td>
        <td>{{fiscalPosition.item}}</td>
        <td>{{fiscalPosition.amount | number}}</td>
        <td>{{(fiscalPosition.percentOfGdp*100).toFixed(1)}}%</td>
      </tr>
      </tbody>
    </nz-table>
    <br/>
    <div>
      <button nz-button nzType="primary" nzSize="large" nzShape="round"
                style="background-color: cornflowerblue; float: left" (click)="previousPage()">Previous</button>
      <button nz-button nzType="primary" nzSize="large" nzShape="round"
                style="background-color: cornflowerblue; float: right" (click)="nextPage()">Next</button>
    </div>
  </div>
  <div nz-col [nzSpan]="4"></div>
</div>
